.sticky-container {
}

.side-menu-container {
  position: sticky;
  overflow-y: auto;
  top: 0px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  height: 100vh;
}

#me {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: aqua;
  transition: 0.4s;
}

#me:hover {
  transform: rotate(-20deg);
  background-color: red;
}

.side-menu-list {
  max-width: 350px;
}

.sns {
  display: flex;
  justify-content: space-between;
}

.sns-box {
  width: 100%;
}

.sns img {
  transition: 0.4s;
}
.sns img:hover {
  transform: rotate(20deg);
}

@media only screen and (max-width: 800px) {
  .side-menu-container {
    flex-grow: 1;
    position: relative;
    height: fit-content;
    overflow-y: visible;
    text-align: center;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightblue;
  }
  .sns {
    margin-bottom: 0px;
  }
}
