@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,900;1,100&display=swap');

.App {
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: 30% auto;
}

@media only screen and (max-width: 800px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
