body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}
a {
  color: slategray;
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  color: red;
}

code {
  background-color: black;
  color: green;
  white-space: nowrap;
  padding: 8px;
  border-radius: 6px;
}
